include mixins/style
include mixins/script
include mixins/breadcrumbs

mixin fotostokItem(name, img, disabled)
	a.fotostok__item(href="" class=disabled ? '--disabled' : null)
		.fotostok__img.img
			img(src='uploads/hist/' + img + '.jpg' alt="")
		.fotostok__name #[span= name]
		.fotostok__icon
			img(src='uploads/sports/sport-'+img + '.png' alt="")

mixin sectionItem(name, img, dates, desc)
	a.section__item(href="")
		.section__dates
			each date in dates
				.section__date= date
		.section__img
			img(src=img alt="")
		.section__name #[span= name]
		.section__desc= desc

mixin catsItem(name, img)
	a.cats__item(href="")
		.cats__img
			img(src="uploads/" + img alt="")
		.cats__name #[span= name]


mixin psetting()
	.product__setting.psetting
		.psetting__list
			.psetting__item
				.psetting__title Цена
				.psetting__wrap
					.psetting__field.field.--sm.--b-gray.--p20.--fz18
						.field__wrap
							input.field__area(type="tel" name="" value="0" readonly="readonly")
				.psetting__desc рублей
			.psetting__item
				.psetting__title Количество
				.psetting__wrap
					.psetting__field.field.--sm.--b-gray.--p20.--fz18.--num
						.field__wrap
							input.field__area(type="number" name="" value="1" min="1" max="999")
				.psetting__desc шт.
			.psetting__item
				.psetting__title Мероприятие
				.psetting__wrap
					.psetting__select.select.--sm.--b-gray.--p20
						.select__area
							.select__title
							.select__icon
								<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.01733L5 5.23066L9 1.01733" stroke="#3F3F3F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
						.select__drop
						select.select__parse
							option(value="ДТ Вдохновение Золотого кольца" selected="selected") ДТ Вдохновение Золотого кольца
							option(value="ДТ Вдохновение Золотого кольца") ДТ Вдохновение Золотого кольца
							option(value="ДТ Вдохновение Золотого кольца") ДТ Вдохновение Золотого кольца
				.psetting__desc
			.psetting__item
				.psetting__title Пакет
				.psetting__wrap
					.psetting__select.select.--sm.--b-gray.--p20
						.select__area
							.select__title
							.select__icon
								<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.01733L5 5.23066L9 1.01733" stroke="#3F3F3F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
						.select__drop
						select.select__parse
							option(value="") Индивидуальный (номер, выступление)
							option(value="") Коллектив (один номер, выступление)
							option(value="") 
				.psetting__desc
			.psetting__item
				.psetting__title Примечание
				.psetting__wrap
					.psetting__field.field.--sm.--b-gray.--p20.--fz18
						.field__wrap
							textarea.field__area(name="" placeholder="Введите ФИО участника, команду, группу, номер выступления, игрока, а также Ваш контактный телефон для связи")
				.psetting__desc
			.psetting__item.--mt
				.psetting__title
				.psetting__wrap
					button.psetting__btn.btn.--md.--bg-orange Добавить в корзину
				.psetting__desc


mixin psettingSelect(list)
	.psetting__select.select.--sm.--b-gray.--p20
		.select__area
			.select__title
			.select__icon
				<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.01733L5 5.23066L9 1.01733" stroke="#3F3F3F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
		.select__drop
		select.select__parse
			- i = 0
			each item in list
				option(value=item selected=i==0 ? "selected" : null)= item
				- i++ 
mixin reviewsItem(title, text)
	.reviews__item
		.reviews__title= title
		.reviews__text= text

mixin imgs(imgs)
	.product__imgs.imgs
		.imgs__main.swiper
			.imgs__list.swiper-wrapper
				each img in imgs
					.imgs__item.img.swiper-slide(class=imgsVideos ? '--video' : null data-fancybox="" data-src=imgsVideos ? 'https://www.youtube.com/watch?v=kJQP7kiw5Fk' : img data-group="product")
						img(src=img alt="")
		.imgs__nav.swiper
			.imgs__nav-list.swiper-wrapper
				each img in imgs
					.imgs__nav-item.img.swiper-slide
						img(src=img alt="")


mixin ctrls(cls)
	div(class=cls class="ctrls")
		.ctrls__btns
			.ctrls__btn
				img(src="uploads/cart-xs.png" alt="")
			if (!attributes.puzzlesHidden)
				.ctrls__btn
					img(src="uploads/puzzle-xs.png" alt="")
			.ctrls__btn
				img(src="uploads/heart-xs.png" alt="")
		.ctrls__likes
			.ctrls__like.--up
				.ctrls__like-value 10
				.ctrls__like-icon
					img(src="uploads/thumbs-up-white.png" alt="")
			.ctrls__like.--down
				.ctrls__like-value 3
				.ctrls__like-icon
					img(src="uploads/thumbs-down-white.png" alt="")


mixin caledarMoth(name, current)
	.calendar__item.swiper-slide
		.calendar__month= name 
		.calendar__days
			table
				thead
					tr
						th Пн
						th Вт
						th Ср
						th Чт
						th Пт
						th Сб
						th Вс
				tbody
					tr
						td
						td
						td
						td #[.calendar__day #[var 1] #[span Пн]]
						td #[.calendar__day #[var 2] #[span Вт]]
						td #[.calendar__day #[var 3] #[span Ср]]
						td #[.calendar__day #[var 4] #[span Чт]]
					tr
						td #[.calendar__day #[var 5] #[span Пт]]
						td #[.calendar__day.--red #[var 6] #[span Сб]]
						td #[.calendar__day.--red #[var 7] #[span Вс]]
						td #[.calendar__day #[var 8] #[span Пн]]
						td #[.calendar__day #[var 9] #[span Вт]]
						td #[.calendar__day #[var 10] #[span Ср]]
						td #[.calendar__day #[var 11] #[span Чт]]
					tr
						td #[.calendar__day #[var 12] #[span Пт]]
						td #[.calendar__day.--red #[var 13] #[span Сб]]
						td #[.calendar__day.--red #[var 14] #[span Вс]]
						td #[.calendar__day(class=current ? '--current' : null) #[var 15] #[span Пн]]
						td #[.calendar__day #[var 16] #[span Вт]]
						td #[.calendar__day #[var 17] #[span Ср]]
						td #[.calendar__day #[var 18] #[span Чт]]
					tr
						td #[.calendar__day #[var 19] #[span Пт]]
						td #[.calendar__day.--red #[var 20] #[span Сб]]
						td #[.calendar__day.--red #[var 21] #[span Вс]]
						td #[.calendar__day #[var 22] #[span Пн]]
						td #[.calendar__day #[var 23] #[span Вт]]
						td #[.calendar__day #[var 24] #[span Ср]]
						td #[.calendar__day #[var 25] #[span Чт]]
					tr
						td #[.calendar__day #[var 26] #[span Пт]]
						td #[.calendar__day.--red #[var 27] #[span Сб]]
						td #[.calendar__day.--red #[var 28] #[span Вс]]
						td #[.calendar__day #[var 29] #[span Пн]]
						td #[.calendar__day #[var 30] #[span Вт]]
						td
						td

mixin caevItem(title, img, sport, cls = 'swiper-slide')
	.caev__item(class=cls)
		.caev__item-inner
			.caev__img-wrap
				.caev__date #[span 03.10.2021]
				.caev__img.img
					img(src="uploads/events/" + img alt="")
				.caev__sport
					img(src="uploads/sports/" + sport alt="")
			.caev__content
				a.caev__title(href="")= title
				a.caev__btn.btn.--md.--bg-orange(href="") Предзаказ

mixin calDay(count, events, disabled)
	td
		.cal__day(class=disabled ? '--disabled' : null)
			.cal__count=count
			if events
				.cal__events
					each event in events
						.cal__event
							.cal__event-img
								img(src="uploads/sports/sport-"+event+".png" alt="")
							.cal__event-data
								p 13.00 Baltic Cup 2021
								p 14.00 One Day Junior Cup 2021
								p 14.30 SPARTA CUP 2021
								p 15.30 Baltic Cup 2021
								p 16.00 One Day Junior Cup 2021
								p 16.00 SPARTA CUP 2021
								p 16.30 Baltic Cup 2021
								p 16.30 One Day Junior Cup 2021
								p 17.00 SPARTA CUP 2021
								p 17.30 Baltic Cup 2021


mixin cal(date, size, ne)
	.clndr__wrap.cal(class=size)
		.cal__title= date
		if ne
				.cal__ne.ne
					.ne__head
						.ne__main-title Изменить событие
						.ne__close
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 1.07827L1 18.9219" stroke="#3F3F3F" stroke-linecap="square" stroke-linejoin="round"/><path d="M1.07827 0.999999L18.9219 19" stroke="#3F3F3F" stroke-linecap="square" stroke-linejoin="round"/></svg>
					.ne__body
						.ne__list
							.ne__item
								.ne__title Заголовок
								.ne__inner
									.ne__field.field.--sm.--b-gray.--p20
										.field__wrap
											input.field__area(type="text" name="")
									.ne__dates
										.ne__date.field.--sm.--b-gray.--date
											.field__wrap
												.field__icon
													<svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.2747 9.82242H15.6699C15.9853 9.82242 16.242 9.56582 16.242 9.25043V7.85535C16.242 7.53996 15.9853 7.28336 15.6699 7.28336H14.2747C13.9592 7.28336 13.7026 7.53996 13.7026 7.85535V9.25043C13.7026 9.56582 13.9592 9.82242 14.2747 9.82242V9.82242ZM14.2886 7.8693H15.6559V9.23648H14.2886V7.8693ZM14.2747 13.5334H15.6699C15.9853 13.5334 16.242 13.2768 16.242 12.9614V11.5663C16.242 11.2509 15.9853 10.9943 15.6699 10.9943H14.2747C13.9592 10.9943 13.7026 11.2509 13.7026 11.5663V12.9614C13.7026 13.2768 13.9592 13.5334 14.2747 13.5334V13.5334ZM14.2886 11.5802H15.6559V12.9474H14.2886V11.5802ZM10.2931 9.82242H11.6884C12.0038 9.82242 12.2604 9.56582 12.2604 9.25043V7.85535C12.2604 7.53996 12.0038 7.28336 11.6884 7.28336H10.2931C9.97769 7.28336 9.72106 7.53996 9.72106 7.85535V9.25043C9.72106 9.56582 9.97769 9.82242 10.2931 9.82242ZM10.3071 7.8693H11.6744V9.23648H10.3071V7.8693ZM3.72526 14.5312H2.33003C2.0146 14.5312 1.75797 14.7879 1.75797 15.1032V16.4983C1.75797 16.8137 2.0146 17.0703 2.33003 17.0703H3.72526C4.04069 17.0703 4.29732 16.8137 4.29732 16.4983V15.1032C4.29732 14.7879 4.04069 14.5312 3.72526 14.5312ZM3.71132 16.4844H2.34398V15.1172H3.71132V16.4844ZM3.72526 7.28336H2.33003C2.0146 7.28336 1.75797 7.53996 1.75797 7.85535V9.25043C1.75797 9.56582 2.0146 9.82242 2.33003 9.82242H3.72526C4.04069 9.82242 4.29732 9.56582 4.29732 9.25043V7.85535C4.29732 7.53992 4.04069 7.28336 3.72526 7.28336ZM3.71132 9.23648H2.34398V7.8693H3.71132V9.23648ZM10.2931 13.4464H11.6884C12.0038 13.4464 12.2604 13.1898 12.2604 12.8744V11.4793C12.2604 11.1639 12.0038 10.9073 11.6884 10.9073H10.2931C9.97769 10.9073 9.72106 11.1639 9.72106 11.4793V12.8744C9.72106 13.1898 9.97769 13.4464 10.2931 13.4464ZM10.3071 11.4932H11.6744V12.8604H10.3071V11.4932ZM16.533 1.33883H15.2802V0.890898C15.2802 0.399648 14.8805 0 14.3892 0H14.2547C13.7634 0 13.3637 0.399648 13.3637 0.890898V1.33883H4.63619V0.890898C4.63619 0.399648 4.23649 0 3.74519 0H3.61064C3.11934 0 2.71964 0.399648 2.71964 0.890898V1.33883H1.46696C0.658082 1.33883 0 1.99684 0 2.80562V18.5352C0 19.3429 0.657184 20 1.46501 20H16.535C17.3428 20 18 19.3429 18 18.5352V2.80562C18 1.99684 17.3419 1.33883 16.533 1.33883V1.33883ZM13.9497 0.890898C13.9497 0.722734 14.0866 0.585938 14.2547 0.585938H14.3893C14.5575 0.585938 14.6943 0.722734 14.6943 0.890898V1.33883H13.9497V0.890898ZM3.30569 0.890898C3.30569 0.722734 3.4425 0.585938 3.61068 0.585938H3.74523C3.91341 0.585938 4.05022 0.722734 4.05022 0.890898V1.33883H3.30572V0.890898H3.30569ZM17.414 18.5352C17.414 19.0198 17.0197 19.4141 16.535 19.4141H1.46497C0.980267 19.4141 0.585965 19.0198 0.585965 18.5352V18.5333C0.831461 18.7183 1.13661 18.8281 1.46696 18.8281H13.3465C13.7384 18.8281 14.1068 18.6755 14.3839 18.3985L17.414 15.3687V18.5352ZM14.0849 17.8688C14.1078 17.774 14.1203 17.6751 14.1203 17.5734V15.6177C14.1203 15.249 14.4204 14.9489 14.7892 14.9489H16.7451C16.8468 14.9489 16.9457 14.9364 17.0405 14.9135L14.0849 17.8688ZM17.414 5.52555H4.92919C4.76737 5.52555 4.63619 5.65672 4.63619 5.81852C4.63619 5.98031 4.76737 6.11148 4.92919 6.11148H17.414V13.6942C17.414 14.063 17.1139 14.363 16.7451 14.363H14.7892C14.0973 14.363 13.5343 14.9259 13.5343 15.6178V17.5734C13.5343 17.9422 13.2343 18.2422 12.8655 18.2422H1.46696C0.981204 18.2422 0.586004 17.8471 0.586004 17.3613V6.11148H3.75718C3.919 6.11148 4.05018 5.98031 4.05018 5.81852C4.05018 5.65672 3.919 5.52555 3.75718 5.52555H0.585965V2.80562C0.585965 2.31992 0.981165 1.92477 1.46692 1.92477H2.71964V2.78617C2.71964 3.27742 3.11934 3.67707 3.61064 3.67707C3.77246 3.67707 3.90364 3.5459 3.90364 3.3841C3.90364 3.2223 3.77246 3.09113 3.61064 3.09113C3.44246 3.09113 3.30565 2.95434 3.30565 2.78617V1.92477H13.3637V2.78617C13.3637 3.27742 13.7634 3.67707 14.2547 3.67707C14.4165 3.67707 14.5477 3.5459 14.5477 3.3841C14.5477 3.2223 14.4165 3.09113 14.2547 3.09113C14.0866 3.09113 13.9497 2.95434 13.9497 2.78617V1.92477H16.533C17.0188 1.92477 17.414 2.31992 17.414 2.80562V5.52555ZM3.72526 10.9073H2.33003C2.0146 10.9073 1.75797 11.1639 1.75797 11.4793V12.8744C1.75797 13.1898 2.0146 13.4464 2.33003 13.4464H3.72526C4.04069 13.4464 4.29732 13.1898 4.29732 12.8744V11.4793C4.29732 11.1639 4.04069 10.9073 3.72526 10.9073ZM3.71132 12.8604H2.34398V11.4932H3.71132V12.8604ZM6.31157 9.82242H7.70681C8.02223 9.82242 8.27886 9.56582 8.27886 9.25043V7.85535C8.27886 7.53996 8.02223 7.28336 7.70681 7.28336H6.31157C5.99615 7.28336 5.73952 7.53996 5.73952 7.85535V9.25043C5.73952 9.56582 5.99615 9.82242 6.31157 9.82242ZM6.32552 7.8693H7.69286V9.23648H6.32552V7.8693ZM10.3067 16.4844C10.2994 16.329 10.1712 16.2054 10.014 16.2054C9.85221 16.2054 9.72102 16.3365 9.72102 16.4983C9.72102 16.8137 9.97765 17.0703 10.2931 17.0703H11.6883C12.0037 17.0703 12.2604 16.8137 12.2604 16.4983V15.1032C12.2604 14.7879 12.0037 14.5312 11.6883 14.5312H10.2931C9.97765 14.5312 9.72102 14.7879 9.72102 15.1032V15.5056C9.72102 15.6674 9.85221 15.7986 10.014 15.7986C10.1758 15.7986 10.307 15.6674 10.307 15.5056V15.1172H11.6744V16.4844H10.3067ZM6.31157 13.4464H7.70681C8.02223 13.4464 8.27886 13.1898 8.27886 12.8744V11.4793C8.27886 11.1639 8.02223 10.9073 7.70681 10.9073H6.31157C5.99615 10.9073 5.73952 11.1639 5.73952 11.4793V12.8744C5.73952 13.1898 5.99615 13.4464 6.31157 13.4464ZM6.32552 11.4932H7.69286V12.8604H6.32552V11.4932ZM6.31157 17.0703H7.70681C8.02223 17.0703 8.27886 16.8137 8.27886 16.4983V15.1032C8.27886 14.7879 8.02223 14.5312 7.70681 14.5312H6.31157C5.99615 14.5312 5.73952 14.7879 5.73952 15.1032V16.4983C5.73952 16.8137 5.99615 17.0703 6.31157 17.0703ZM6.32552 15.1172H7.69286V16.4844H6.32552V15.1172Z" fill="#3F3F3F"/></svg>
												input.field__area(type="text" name="")
										.ne__date.field.--sm.--b-gray.--time
											.field__wrap
												.field__icon
													<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.0711 2.92891C15.1823 1.04016 12.6711 0 10 0C7.32891 0 4.8177 1.04016 2.92891 2.92891C1.04012 4.81766 0 7.32891 0 10C0 12.6711 1.04016 15.1823 2.92891 17.0711C4.81766 18.9599 7.32891 20 10 20C12.6711 20 15.1823 18.9598 17.0711 17.0711C18.9599 15.1823 20 12.6711 20 10C20 7.32891 18.9598 4.8177 17.0711 2.92891ZM16.6291 16.6291C14.8584 18.3998 12.5041 19.375 10 19.375C7.49586 19.375 5.14156 18.3998 3.37086 16.6291C1.60016 14.8584 0.625 12.5041 0.625 10C0.625 7.49586 1.60016 5.14156 3.37086 3.37086C5.14156 1.60016 7.49586 0.625 10 0.625C12.5041 0.625 14.8584 1.60016 16.6291 3.37086C18.3998 5.14156 19.375 7.49586 19.375 10C19.375 12.5041 18.3998 14.8584 16.6291 16.6291Z" fill="black"/><path d="M1.875 10C1.875 5.51988 5.51988 1.875 10 1.875C11.6159 1.875 13.1768 2.34809 14.5139 3.24313C14.6573 3.33914 14.8514 3.3007 14.9474 3.15727C15.0434 3.01387 15.005 2.81977 14.8615 2.72375C13.4212 1.75961 11.7402 1.25 10 1.25C7.66277 1.25 5.46547 2.16016 3.81281 3.81281C2.16016 5.46547 1.25 7.66277 1.25 10C1.25 12.1562 2.04117 14.2278 3.47781 15.8331C3.53953 15.9021 3.625 15.9372 3.71078 15.9372C3.78496 15.9372 3.85945 15.911 3.91906 15.8576C4.04766 15.7425 4.05863 15.5449 3.94352 15.4163C2.60965 13.9258 1.875 12.0022 1.875 10Z" fill="black"/><path d="M17.2767 5.13847C17.1807 4.99503 16.9866 4.95659 16.8432 5.05261C16.6998 5.14862 16.6613 5.34272 16.7573 5.48612C17.6523 6.82315 18.1254 8.38401 18.1254 9.99991C18.1254 14.48 14.4805 18.1249 10.0004 18.1249C8.14169 18.1249 6.32478 17.4812 4.88443 16.3124C4.7504 16.2036 4.55361 16.2241 4.44486 16.3581C4.33611 16.4921 4.35658 16.6889 4.4906 16.7977C6.04197 18.0566 7.99872 18.7499 10.0004 18.7499C12.3376 18.7499 14.5349 17.8398 16.1876 16.1871C17.8402 14.5344 18.7504 12.3371 18.7504 9.99991C18.7504 8.25979 18.2408 6.5787 17.2767 5.13847Z" fill="black"/><path d="M15.4166 3.94357C15.6267 4.13158 15.8293 4.33279 16.0187 4.54154C16.0804 4.60951 16.1652 4.64404 16.2502 4.64404C16.3251 4.64404 16.4003 4.61724 16.4602 4.56294C16.5879 4.44697 16.5975 4.24931 16.4816 4.1215C16.2777 3.89681 16.0596 3.68025 15.8334 3.47783C15.7048 3.36275 15.5072 3.37368 15.3921 3.50228C15.2771 3.63087 15.288 3.82845 15.4166 3.94357Z" fill="black"/><path d="M10 4.0625C10.1726 4.0625 10.3125 3.92258 10.3125 3.75V2.8125C10.3125 2.63992 10.1726 2.5 10 2.5C9.82742 2.5 9.6875 2.63992 9.6875 2.8125V3.75C9.6875 3.92258 9.82742 4.0625 10 4.0625Z" fill="black"/><path d="M9.6875 16.25V17.1875C9.6875 17.3601 9.82742 17.5 10 17.5C10.1726 17.5 10.3125 17.3601 10.3125 17.1875V16.25C10.3125 16.0774 10.1726 15.9375 10 15.9375C9.82742 15.9375 9.6875 16.0774 9.6875 16.25Z" fill="black"/><path d="M4.0625 10C4.0625 9.82742 3.92258 9.6875 3.75 9.6875H2.8125C2.63992 9.6875 2.5 9.82742 2.5 10C2.5 10.1726 2.63992 10.3125 2.8125 10.3125H3.75C3.92258 10.3125 4.0625 10.1726 4.0625 10Z" fill="black"/><path d="M15.9375 10C15.9375 10.1726 16.0774 10.3125 16.25 10.3125H17.1875C17.3601 10.3125 17.5 10.1726 17.5 10C17.5 9.82742 17.3601 9.6875 17.1875 9.6875H16.25C16.0774 9.6875 15.9375 9.82742 15.9375 10Z" fill="black"/><path d="M7.14567 4.43109L6.67692 3.61917C6.59063 3.46968 6.39949 3.41855 6.25004 3.5048C6.10059 3.59109 6.04938 3.78222 6.13567 3.93167L6.60442 4.74359C6.66231 4.84382 6.76735 4.89988 6.87535 4.89988C6.92836 4.89988 6.98211 4.88636 7.03133 4.85796C7.18074 4.77167 7.23195 4.58054 7.14567 4.43109Z" fill="black"/><path d="M13.3957 15.2564C13.3094 15.1069 13.1182 15.0558 12.9688 15.142C12.8193 15.2283 12.7681 15.4194 12.8544 15.5689L13.3232 16.3808C13.3811 16.481 13.4861 16.5371 13.5941 16.5371C13.6471 16.5371 13.7009 16.5235 13.7501 16.4951C13.8995 16.4089 13.9507 16.2177 13.8645 16.0683L13.3957 15.2564Z" fill="black"/><path d="M3.77766 13.9061C3.83067 13.9061 3.88442 13.8925 3.93364 13.8641L4.74555 13.3954C4.895 13.3091 4.94621 13.118 4.85993 12.9685C4.77364 12.8191 4.58246 12.7679 4.43305 12.8541L3.62113 13.3229C3.47168 13.4092 3.42047 13.6003 3.50676 13.7498C3.56461 13.85 3.66965 13.9061 3.77766 13.9061Z" fill="black"/><path d="M15.4144 7.1873C15.4674 7.1873 15.5211 7.17379 15.5704 7.14539L16.3823 6.67664C16.5317 6.59035 16.5829 6.39922 16.4966 6.24976C16.4104 6.10031 16.2192 6.04918 16.0698 6.13539L15.2579 6.60414C15.1084 6.69043 15.0572 6.88156 15.1435 7.03101C15.2014 7.13125 15.3064 7.1873 15.4144 7.1873Z" fill="black"/><path d="M13.75 3.50459C13.6006 3.41826 13.4095 3.46947 13.3232 3.61896L12.8544 4.43088C12.7681 4.58033 12.8193 4.77147 12.9688 4.85775C13.018 4.88619 13.0717 4.89967 13.1248 4.89967C13.2328 4.89967 13.3378 4.84361 13.3957 4.74338L13.8645 3.93146C13.9507 3.78201 13.8995 3.59088 13.75 3.50459Z" fill="black"/><path d="M7.03129 15.1423C6.88184 15.056 6.69071 15.1072 6.60442 15.2566L6.13567 16.0685C6.04938 16.218 6.10059 16.4091 6.25004 16.4954C6.29926 16.5239 6.35297 16.5373 6.40602 16.5373C6.51402 16.5373 6.61906 16.4813 6.67695 16.381L7.1457 15.5691C7.23195 15.4197 7.18074 15.2285 7.03129 15.1423Z" fill="black"/><path d="M15.2578 13.3957L16.0698 13.8644C16.119 13.8929 16.1727 13.9064 16.2257 13.9064C16.3337 13.9064 16.4388 13.8503 16.4967 13.7501C16.583 13.6006 16.5317 13.4095 16.3823 13.3232L15.5704 12.8544C15.4209 12.7681 15.2298 12.8194 15.1435 12.9688C15.0572 13.1183 15.1084 13.3094 15.2578 13.3957Z" fill="black"/><path d="M4.74164 6.60443L3.92973 6.13568C3.78028 6.04936 3.58914 6.1006 3.50285 6.25006C3.41656 6.39951 3.46778 6.59064 3.61723 6.67693L4.42914 7.14568C4.47836 7.17412 4.53207 7.1876 4.58512 7.1876C4.69313 7.1876 4.79817 7.13154 4.85606 7.03131C4.94231 6.88185 4.89109 6.69072 4.74164 6.60443Z" fill="black"/><path d="M12.1755 14.0801C12.2285 14.0801 12.2822 14.0666 12.3314 14.0382C12.4809 13.9519 12.5321 13.7608 12.4458 13.6113L10.7122 10.6086C10.8525 10.4447 10.9375 10.2321 10.9375 10C10.9375 9.59262 10.6762 9.24523 10.3125 9.11625V5C10.3125 4.82742 10.1726 4.6875 10 4.6875C9.82742 4.6875 9.6875 4.82742 9.6875 5V9.11625C9.32379 9.24523 9.0625 9.59262 9.0625 10C9.0625 10.517 9.48305 10.9375 10 10.9375C10.0585 10.9375 10.1157 10.9318 10.1712 10.9216L11.9046 13.9238C11.9625 14.0241 12.0675 14.0801 12.1755 14.0801ZM9.6875 10C9.6875 9.82769 9.8277 9.6875 10 9.6875C10.1723 9.6875 10.3125 9.82769 10.3125 10C10.3125 10.1723 10.1723 10.3125 10 10.3125C9.8277 10.3125 9.6875 10.1723 9.6875 10Z" fill="black"/></svg>
												input.field__area(type="text" name="")
										.ne__line
										.ne__date.field.--sm.--b-gray.--date
											.field__wrap
												.field__icon
													<svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.2747 9.82242H15.6699C15.9853 9.82242 16.242 9.56582 16.242 9.25043V7.85535C16.242 7.53996 15.9853 7.28336 15.6699 7.28336H14.2747C13.9592 7.28336 13.7026 7.53996 13.7026 7.85535V9.25043C13.7026 9.56582 13.9592 9.82242 14.2747 9.82242V9.82242ZM14.2886 7.8693H15.6559V9.23648H14.2886V7.8693ZM14.2747 13.5334H15.6699C15.9853 13.5334 16.242 13.2768 16.242 12.9614V11.5663C16.242 11.2509 15.9853 10.9943 15.6699 10.9943H14.2747C13.9592 10.9943 13.7026 11.2509 13.7026 11.5663V12.9614C13.7026 13.2768 13.9592 13.5334 14.2747 13.5334V13.5334ZM14.2886 11.5802H15.6559V12.9474H14.2886V11.5802ZM10.2931 9.82242H11.6884C12.0038 9.82242 12.2604 9.56582 12.2604 9.25043V7.85535C12.2604 7.53996 12.0038 7.28336 11.6884 7.28336H10.2931C9.97769 7.28336 9.72106 7.53996 9.72106 7.85535V9.25043C9.72106 9.56582 9.97769 9.82242 10.2931 9.82242ZM10.3071 7.8693H11.6744V9.23648H10.3071V7.8693ZM3.72526 14.5312H2.33003C2.0146 14.5312 1.75797 14.7879 1.75797 15.1032V16.4983C1.75797 16.8137 2.0146 17.0703 2.33003 17.0703H3.72526C4.04069 17.0703 4.29732 16.8137 4.29732 16.4983V15.1032C4.29732 14.7879 4.04069 14.5312 3.72526 14.5312ZM3.71132 16.4844H2.34398V15.1172H3.71132V16.4844ZM3.72526 7.28336H2.33003C2.0146 7.28336 1.75797 7.53996 1.75797 7.85535V9.25043C1.75797 9.56582 2.0146 9.82242 2.33003 9.82242H3.72526C4.04069 9.82242 4.29732 9.56582 4.29732 9.25043V7.85535C4.29732 7.53992 4.04069 7.28336 3.72526 7.28336ZM3.71132 9.23648H2.34398V7.8693H3.71132V9.23648ZM10.2931 13.4464H11.6884C12.0038 13.4464 12.2604 13.1898 12.2604 12.8744V11.4793C12.2604 11.1639 12.0038 10.9073 11.6884 10.9073H10.2931C9.97769 10.9073 9.72106 11.1639 9.72106 11.4793V12.8744C9.72106 13.1898 9.97769 13.4464 10.2931 13.4464ZM10.3071 11.4932H11.6744V12.8604H10.3071V11.4932ZM16.533 1.33883H15.2802V0.890898C15.2802 0.399648 14.8805 0 14.3892 0H14.2547C13.7634 0 13.3637 0.399648 13.3637 0.890898V1.33883H4.63619V0.890898C4.63619 0.399648 4.23649 0 3.74519 0H3.61064C3.11934 0 2.71964 0.399648 2.71964 0.890898V1.33883H1.46696C0.658082 1.33883 0 1.99684 0 2.80562V18.5352C0 19.3429 0.657184 20 1.46501 20H16.535C17.3428 20 18 19.3429 18 18.5352V2.80562C18 1.99684 17.3419 1.33883 16.533 1.33883V1.33883ZM13.9497 0.890898C13.9497 0.722734 14.0866 0.585938 14.2547 0.585938H14.3893C14.5575 0.585938 14.6943 0.722734 14.6943 0.890898V1.33883H13.9497V0.890898ZM3.30569 0.890898C3.30569 0.722734 3.4425 0.585938 3.61068 0.585938H3.74523C3.91341 0.585938 4.05022 0.722734 4.05022 0.890898V1.33883H3.30572V0.890898H3.30569ZM17.414 18.5352C17.414 19.0198 17.0197 19.4141 16.535 19.4141H1.46497C0.980267 19.4141 0.585965 19.0198 0.585965 18.5352V18.5333C0.831461 18.7183 1.13661 18.8281 1.46696 18.8281H13.3465C13.7384 18.8281 14.1068 18.6755 14.3839 18.3985L17.414 15.3687V18.5352ZM14.0849 17.8688C14.1078 17.774 14.1203 17.6751 14.1203 17.5734V15.6177C14.1203 15.249 14.4204 14.9489 14.7892 14.9489H16.7451C16.8468 14.9489 16.9457 14.9364 17.0405 14.9135L14.0849 17.8688ZM17.414 5.52555H4.92919C4.76737 5.52555 4.63619 5.65672 4.63619 5.81852C4.63619 5.98031 4.76737 6.11148 4.92919 6.11148H17.414V13.6942C17.414 14.063 17.1139 14.363 16.7451 14.363H14.7892C14.0973 14.363 13.5343 14.9259 13.5343 15.6178V17.5734C13.5343 17.9422 13.2343 18.2422 12.8655 18.2422H1.46696C0.981204 18.2422 0.586004 17.8471 0.586004 17.3613V6.11148H3.75718C3.919 6.11148 4.05018 5.98031 4.05018 5.81852C4.05018 5.65672 3.919 5.52555 3.75718 5.52555H0.585965V2.80562C0.585965 2.31992 0.981165 1.92477 1.46692 1.92477H2.71964V2.78617C2.71964 3.27742 3.11934 3.67707 3.61064 3.67707C3.77246 3.67707 3.90364 3.5459 3.90364 3.3841C3.90364 3.2223 3.77246 3.09113 3.61064 3.09113C3.44246 3.09113 3.30565 2.95434 3.30565 2.78617V1.92477H13.3637V2.78617C13.3637 3.27742 13.7634 3.67707 14.2547 3.67707C14.4165 3.67707 14.5477 3.5459 14.5477 3.3841C14.5477 3.2223 14.4165 3.09113 14.2547 3.09113C14.0866 3.09113 13.9497 2.95434 13.9497 2.78617V1.92477H16.533C17.0188 1.92477 17.414 2.31992 17.414 2.80562V5.52555ZM3.72526 10.9073H2.33003C2.0146 10.9073 1.75797 11.1639 1.75797 11.4793V12.8744C1.75797 13.1898 2.0146 13.4464 2.33003 13.4464H3.72526C4.04069 13.4464 4.29732 13.1898 4.29732 12.8744V11.4793C4.29732 11.1639 4.04069 10.9073 3.72526 10.9073ZM3.71132 12.8604H2.34398V11.4932H3.71132V12.8604ZM6.31157 9.82242H7.70681C8.02223 9.82242 8.27886 9.56582 8.27886 9.25043V7.85535C8.27886 7.53996 8.02223 7.28336 7.70681 7.28336H6.31157C5.99615 7.28336 5.73952 7.53996 5.73952 7.85535V9.25043C5.73952 9.56582 5.99615 9.82242 6.31157 9.82242ZM6.32552 7.8693H7.69286V9.23648H6.32552V7.8693ZM10.3067 16.4844C10.2994 16.329 10.1712 16.2054 10.014 16.2054C9.85221 16.2054 9.72102 16.3365 9.72102 16.4983C9.72102 16.8137 9.97765 17.0703 10.2931 17.0703H11.6883C12.0037 17.0703 12.2604 16.8137 12.2604 16.4983V15.1032C12.2604 14.7879 12.0037 14.5312 11.6883 14.5312H10.2931C9.97765 14.5312 9.72102 14.7879 9.72102 15.1032V15.5056C9.72102 15.6674 9.85221 15.7986 10.014 15.7986C10.1758 15.7986 10.307 15.6674 10.307 15.5056V15.1172H11.6744V16.4844H10.3067ZM6.31157 13.4464H7.70681C8.02223 13.4464 8.27886 13.1898 8.27886 12.8744V11.4793C8.27886 11.1639 8.02223 10.9073 7.70681 10.9073H6.31157C5.99615 10.9073 5.73952 11.1639 5.73952 11.4793V12.8744C5.73952 13.1898 5.99615 13.4464 6.31157 13.4464ZM6.32552 11.4932H7.69286V12.8604H6.32552V11.4932ZM6.31157 17.0703H7.70681C8.02223 17.0703 8.27886 16.8137 8.27886 16.4983V15.1032C8.27886 14.7879 8.02223 14.5312 7.70681 14.5312H6.31157C5.99615 14.5312 5.73952 14.7879 5.73952 15.1032V16.4983C5.73952 16.8137 5.99615 17.0703 6.31157 17.0703ZM6.32552 15.1172H7.69286V16.4844H6.32552V15.1172Z" fill="#3F3F3F"/></svg>
												input.field__area(type="text" name="")
										.ne__date.field.--sm.--b-gray.--time
											.field__wrap
												.field__icon
													<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.0711 2.92891C15.1823 1.04016 12.6711 0 10 0C7.32891 0 4.8177 1.04016 2.92891 2.92891C1.04012 4.81766 0 7.32891 0 10C0 12.6711 1.04016 15.1823 2.92891 17.0711C4.81766 18.9599 7.32891 20 10 20C12.6711 20 15.1823 18.9598 17.0711 17.0711C18.9599 15.1823 20 12.6711 20 10C20 7.32891 18.9598 4.8177 17.0711 2.92891ZM16.6291 16.6291C14.8584 18.3998 12.5041 19.375 10 19.375C7.49586 19.375 5.14156 18.3998 3.37086 16.6291C1.60016 14.8584 0.625 12.5041 0.625 10C0.625 7.49586 1.60016 5.14156 3.37086 3.37086C5.14156 1.60016 7.49586 0.625 10 0.625C12.5041 0.625 14.8584 1.60016 16.6291 3.37086C18.3998 5.14156 19.375 7.49586 19.375 10C19.375 12.5041 18.3998 14.8584 16.6291 16.6291Z" fill="black"/><path d="M1.875 10C1.875 5.51988 5.51988 1.875 10 1.875C11.6159 1.875 13.1768 2.34809 14.5139 3.24313C14.6573 3.33914 14.8514 3.3007 14.9474 3.15727C15.0434 3.01387 15.005 2.81977 14.8615 2.72375C13.4212 1.75961 11.7402 1.25 10 1.25C7.66277 1.25 5.46547 2.16016 3.81281 3.81281C2.16016 5.46547 1.25 7.66277 1.25 10C1.25 12.1562 2.04117 14.2278 3.47781 15.8331C3.53953 15.9021 3.625 15.9372 3.71078 15.9372C3.78496 15.9372 3.85945 15.911 3.91906 15.8576C4.04766 15.7425 4.05863 15.5449 3.94352 15.4163C2.60965 13.9258 1.875 12.0022 1.875 10Z" fill="black"/><path d="M17.2767 5.13847C17.1807 4.99503 16.9866 4.95659 16.8432 5.05261C16.6998 5.14862 16.6613 5.34272 16.7573 5.48612C17.6523 6.82315 18.1254 8.38401 18.1254 9.99991C18.1254 14.48 14.4805 18.1249 10.0004 18.1249C8.14169 18.1249 6.32478 17.4812 4.88443 16.3124C4.7504 16.2036 4.55361 16.2241 4.44486 16.3581C4.33611 16.4921 4.35658 16.6889 4.4906 16.7977C6.04197 18.0566 7.99872 18.7499 10.0004 18.7499C12.3376 18.7499 14.5349 17.8398 16.1876 16.1871C17.8402 14.5344 18.7504 12.3371 18.7504 9.99991C18.7504 8.25979 18.2408 6.5787 17.2767 5.13847Z" fill="black"/><path d="M15.4166 3.94357C15.6267 4.13158 15.8293 4.33279 16.0187 4.54154C16.0804 4.60951 16.1652 4.64404 16.2502 4.64404C16.3251 4.64404 16.4003 4.61724 16.4602 4.56294C16.5879 4.44697 16.5975 4.24931 16.4816 4.1215C16.2777 3.89681 16.0596 3.68025 15.8334 3.47783C15.7048 3.36275 15.5072 3.37368 15.3921 3.50228C15.2771 3.63087 15.288 3.82845 15.4166 3.94357Z" fill="black"/><path d="M10 4.0625C10.1726 4.0625 10.3125 3.92258 10.3125 3.75V2.8125C10.3125 2.63992 10.1726 2.5 10 2.5C9.82742 2.5 9.6875 2.63992 9.6875 2.8125V3.75C9.6875 3.92258 9.82742 4.0625 10 4.0625Z" fill="black"/><path d="M9.6875 16.25V17.1875C9.6875 17.3601 9.82742 17.5 10 17.5C10.1726 17.5 10.3125 17.3601 10.3125 17.1875V16.25C10.3125 16.0774 10.1726 15.9375 10 15.9375C9.82742 15.9375 9.6875 16.0774 9.6875 16.25Z" fill="black"/><path d="M4.0625 10C4.0625 9.82742 3.92258 9.6875 3.75 9.6875H2.8125C2.63992 9.6875 2.5 9.82742 2.5 10C2.5 10.1726 2.63992 10.3125 2.8125 10.3125H3.75C3.92258 10.3125 4.0625 10.1726 4.0625 10Z" fill="black"/><path d="M15.9375 10C15.9375 10.1726 16.0774 10.3125 16.25 10.3125H17.1875C17.3601 10.3125 17.5 10.1726 17.5 10C17.5 9.82742 17.3601 9.6875 17.1875 9.6875H16.25C16.0774 9.6875 15.9375 9.82742 15.9375 10Z" fill="black"/><path d="M7.14567 4.43109L6.67692 3.61917C6.59063 3.46968 6.39949 3.41855 6.25004 3.5048C6.10059 3.59109 6.04938 3.78222 6.13567 3.93167L6.60442 4.74359C6.66231 4.84382 6.76735 4.89988 6.87535 4.89988C6.92836 4.89988 6.98211 4.88636 7.03133 4.85796C7.18074 4.77167 7.23195 4.58054 7.14567 4.43109Z" fill="black"/><path d="M13.3957 15.2564C13.3094 15.1069 13.1182 15.0558 12.9688 15.142C12.8193 15.2283 12.7681 15.4194 12.8544 15.5689L13.3232 16.3808C13.3811 16.481 13.4861 16.5371 13.5941 16.5371C13.6471 16.5371 13.7009 16.5235 13.7501 16.4951C13.8995 16.4089 13.9507 16.2177 13.8645 16.0683L13.3957 15.2564Z" fill="black"/><path d="M3.77766 13.9061C3.83067 13.9061 3.88442 13.8925 3.93364 13.8641L4.74555 13.3954C4.895 13.3091 4.94621 13.118 4.85993 12.9685C4.77364 12.8191 4.58246 12.7679 4.43305 12.8541L3.62113 13.3229C3.47168 13.4092 3.42047 13.6003 3.50676 13.7498C3.56461 13.85 3.66965 13.9061 3.77766 13.9061Z" fill="black"/><path d="M15.4144 7.1873C15.4674 7.1873 15.5211 7.17379 15.5704 7.14539L16.3823 6.67664C16.5317 6.59035 16.5829 6.39922 16.4966 6.24976C16.4104 6.10031 16.2192 6.04918 16.0698 6.13539L15.2579 6.60414C15.1084 6.69043 15.0572 6.88156 15.1435 7.03101C15.2014 7.13125 15.3064 7.1873 15.4144 7.1873Z" fill="black"/><path d="M13.75 3.50459C13.6006 3.41826 13.4095 3.46947 13.3232 3.61896L12.8544 4.43088C12.7681 4.58033 12.8193 4.77147 12.9688 4.85775C13.018 4.88619 13.0717 4.89967 13.1248 4.89967C13.2328 4.89967 13.3378 4.84361 13.3957 4.74338L13.8645 3.93146C13.9507 3.78201 13.8995 3.59088 13.75 3.50459Z" fill="black"/><path d="M7.03129 15.1423C6.88184 15.056 6.69071 15.1072 6.60442 15.2566L6.13567 16.0685C6.04938 16.218 6.10059 16.4091 6.25004 16.4954C6.29926 16.5239 6.35297 16.5373 6.40602 16.5373C6.51402 16.5373 6.61906 16.4813 6.67695 16.381L7.1457 15.5691C7.23195 15.4197 7.18074 15.2285 7.03129 15.1423Z" fill="black"/><path d="M15.2578 13.3957L16.0698 13.8644C16.119 13.8929 16.1727 13.9064 16.2257 13.9064C16.3337 13.9064 16.4388 13.8503 16.4967 13.7501C16.583 13.6006 16.5317 13.4095 16.3823 13.3232L15.5704 12.8544C15.4209 12.7681 15.2298 12.8194 15.1435 12.9688C15.0572 13.1183 15.1084 13.3094 15.2578 13.3957Z" fill="black"/><path d="M4.74164 6.60443L3.92973 6.13568C3.78028 6.04936 3.58914 6.1006 3.50285 6.25006C3.41656 6.39951 3.46778 6.59064 3.61723 6.67693L4.42914 7.14568C4.47836 7.17412 4.53207 7.1876 4.58512 7.1876C4.69313 7.1876 4.79817 7.13154 4.85606 7.03131C4.94231 6.88185 4.89109 6.69072 4.74164 6.60443Z" fill="black"/><path d="M12.1755 14.0801C12.2285 14.0801 12.2822 14.0666 12.3314 14.0382C12.4809 13.9519 12.5321 13.7608 12.4458 13.6113L10.7122 10.6086C10.8525 10.4447 10.9375 10.2321 10.9375 10C10.9375 9.59262 10.6762 9.24523 10.3125 9.11625V5C10.3125 4.82742 10.1726 4.6875 10 4.6875C9.82742 4.6875 9.6875 4.82742 9.6875 5V9.11625C9.32379 9.24523 9.0625 9.59262 9.0625 10C9.0625 10.517 9.48305 10.9375 10 10.9375C10.0585 10.9375 10.1157 10.9318 10.1712 10.9216L11.9046 13.9238C11.9625 14.0241 12.0675 14.0801 12.1755 14.0801ZM9.6875 10C9.6875 9.82769 9.8277 9.6875 10 9.6875C10.1723 9.6875 10.3125 9.82769 10.3125 10C10.3125 10.1723 10.1723 10.3125 10 10.3125C9.8277 10.3125 9.6875 10.1723 9.6875 10Z" fill="black"/></svg>
												input.field__area(type="text" name="")

							.ne__item
								.ne__title Описание
								.ne__inner
									.ne__field.field.--sm.--b-gray.--p20
										.field__wrap
											textarea.field__area
									.ne__checkbox.check.checkbox.--smm.--b-gray
										input.check__input(type="checkbox" name="policy")
										.checkbox__box
											<svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5455 1L5.54545 11L1 6.45455" stroke="#EB7001" stroke-linecap="round" stroke-linejoin="round"/></svg>
										.checkbox__wrap Целый день
							.ne__item
								.ne__title Предзаказ
								.ne__inner
									.ne__select.select.--sm.--b-gray.--p20
										.select__wrap
											.select__area
												.select__title
												.select__icon
													<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.01733L5 5.23066L9 1.01733" stroke="#3F3F3F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
											.select__drop
											select.select__parse
												option(value="Гандбол" selected="selected") Гандбол
												option(value="Футбол") Футбол
												option(value="Флорбол") Флорбол
												option(value="Водные виды спорта") Водные виды спорта
												option(value="Фигурное катание") Фигурное катание
												option(value="Пляжный волейбол") Пляжный волейбол
												option(value="Танцы") Танцы
												option(value="Фехтование") Фехтование
												option(value="Большой тенис") Большой тенис
												option(value="Хокей") Хокей
												option(value="Футзал") Футзал
												option(value="Гимнастика") Гимнастика
												option(value="Баскетбол") Баскетбол
												option(value="Боевые единоборства") Боевые единоборства
												option(value="Бадминтон") Бадминтон
												option(value="Спорт для семьи") Спорт для семьи
												option(value="Детское творчество") Детское творчество

						.ne__btn.btn.--smm.--bg-white Закрыть
		.cal__inner
			table
				thead
					tr
						th
							b Понедельник
							i ПН
						th
							b Вторник
							i ВТ
						th
							b Среда
							i СР
						th
							b Четверг
							i ЧТ
						th
							b Пятница
							i ПТ
						th
							b Суббота
							i СБ
						th
							b Воскресенье
							i ВС
				tbody
					tr
						+calDay('26', '', true)
						+calDay('27', ['football', 'dances', 'fencing', 'gandboll', 'florball', 'water-sports', 'skins', 'sand-volleyball', 'sport-family'], true)
						+calDay('28', '', true)
						+calDay('29', '', true)
						+calDay('30', '', true)
						+calDay('31', '', true)
						+calDay('1', '')
					tr
						+calDay('2', '')
						+calDay('3', '')
						+calDay('4', '')
						+calDay('5', '')
						+calDay('6', '')
						+calDay('7', '')
						+calDay('8', '')
					tr
						+calDay('2', '')
						+calDay('3', '')
						+calDay('4', '')
						+calDay('5', '')
						+calDay('6', '')
						+calDay('7', '')
						+calDay('8', '')
					tr
						+calDay('9', '')
						+calDay('10', '')
						+calDay('11', '')
						+calDay('12', '')
						+calDay('13', '')
						+calDay('14', '')
						+calDay('15', '')
					tr
						+calDay('16', '')
						+calDay('17', '')
						+calDay('18', '')
						+calDay('19', '')
						+calDay('20', '')
						+calDay('21', '')
						+calDay('22', '')
					tr
						+calDay('23', '')
						+calDay('24', '')
						+calDay('25', '')
						+calDay('26', '')
						+calDay('27', '')
						+calDay('28', '')
						+calDay('29', '')
					tr
						+calDay('30', '')
						+calDay('31', '')
						+calDay('1', '', true)
						+calDay('2', '', true)
						+calDay('3', '', true)
						+calDay('4', '', true)
						+calDay('5', '', true)

			.cal__ev.calev
				.calev__img #[img(src="" alt="")]
				.calev__close
					<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 1.04343L1 10.9565" stroke="#EB7001" stroke-linecap="square" stroke-linejoin="round"/><path d="M1.04392 1L10.957 11" stroke="#EB7001" stroke-linecap="square" stroke-linejoin="round"/></svg>
				.calev__data

			



mixin opUser
	.op__user
		.op__img.img
			img(src="uploads/operator.png" alt="")
		.op__icon
			img(src="uploads/cat-photosession.png" alt="")
		.op__data
			.op__name Фотограф Иванов Сергей Иванович
			.op__stats.opstats
				.opstats__list
					.opstats__item
						.opstats__name Рейтинг
						.opstats__wrap
							div(style="width: 85%")
							span 4,5 балла
					.opstats__item
						.opstats__name Продано фото
						.opstats__wrap
							div(style="width: 70%")
							span 150 / 70%